html,
body {
  width: 320px; /* width of popup window */
  border-radius: 50px;

  background-color: transparent !important;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
}

.schedule {
  margin: 20px;
}

.m0p0 {
  margin: 0;
  padding: 0;
}

.subject {
  margin-bottom: 0px;
  margin-top: 0;
}
.logo {
  color: royalblue;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.my-0 {
  margin-bottom: 0;
  margin-top: 0;
}

.upcoming {
  letter-spacing: 2px;
  font-size: 0.7rem;
  color: royalblue;
}

.schedule-item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 7px;
  /* border-left: 3px solid rgb(209, 209, 209); */
  position: relative;
}

.schedule-item p,
.schedule-item h3 {
  /* padding-left: 5px; */
  padding-top: 2px;
}

.schedule-item:hover {
  background-color: rgb(247, 247, 247);
  /* border-radius: 5px; */

  transition: 0.2s;
}

.disabled {
  color: grey;
  /* border-left: 3px solid royalblue; */
}
.disabled:hover {
  background-color: #fff;
}

.now {
  color: royalblue;
  /* border-left: 3px solid royalblue; */
}

.now::before {
  content: url("disc.svg");
  width: 3px;
  height: 50%;
  background-color: royalblue;
  position: absolute;
  left: -4px;
  top: 25%;
  border-radius: 5px;
}

.disabled::before {
  width: 3px;
  height: 100%;
  background-color: royalblue;
  position: absolute;
  left: -4px;
  top: 0;
}

.disabled:nth-child(1)::before {
  top: 20%;
}

.custom-link-btn {
  font-size: 0.8rem;
  padding: 10px;
  background-color: royalblue;
  color: #fff;
  width: 100%;
  text-decoration: none;

  display: block;
  text-align: center;
  border-radius: 5px;
}

.custom-link-btn:hover {
  background-color: rgb(0, 0, 167);
  transition: 0.3s;
}

.btn-container {
  display: flex;
  /* margin-left: 20px; */

  position: fixed;
  bottom: 0px;
  width: 86%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.header-area {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  padding-top: 15px;
  z-index: 10;
  box-shadow: 8px 10px 50px 0px rgba(145, 145, 145, 0.19);
  padding-left: 20px;
  padding-bottom: 5px;
}

/* .schedule-item:hover {
  background-color: rgb(214, 225, 255);
  color: #fff;
  transition: 0.2s;
} */
.container {
  /* display: flex;
  flex-direction: column;

  align-items: center; */
}
/* 
.button {
  background-color: royalblue;
  border-radius: 5px;
  letter-spacing: -1px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  width: 280px;
  margin-left: 10px;
  padding: 10px 0px;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
}
.button:hover {
  background-color: green;
  transform: translateY(-2px);
  box-shadow: 8px 10px 50px 0px rgba(0, 224, 11, 0.19);

  transition: 0.8s;
}
.button:hover::after {
  transition: 0.5s;
} */

.mail {
  display: flex;
  /* margin-left: 5px; */
  position: absolute;
  bottom: 20px;
}
.input-mail {
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 10px 15px;
  margin-right: -6px;
  max-width: 200%;
  outline: 0;
  color: #000000;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  border: 2px solid #2e5eec;
  width: 220px;
}
.btn-mail {
  background-color: #2e5eec;
  border: none;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  outline: 0;
  border: 2px solid #2e5eec;
}
.btn-mail:hover {
  background-color: #0202ec;
  transition: 2s;
}
.tick {
  max-width: 60%;
  max-height: 60%;
}
.mail {
  display: inline;
}
.cs-text {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  animation: loader 1s infinite;
}

/* remove all button styles */

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* remove all a tag styles */

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}